<div>
    <h1>Estos son los productos disponibles</h1>
<table class="table tablaProductos col-md-4">
  <thead>
    <tr>
      <tr class="table-dark">
    <th scope="col" class="text-center align-middle">Id</th>
    <th scope="col" class="text-center align-middle">Nombre</th>
    <th scope="col" class="text-center align-middle">Precio</th>
    <th scope="col" class="text-center align-middle">Foto</th>
  </tr>
    </tr>
  </thead>
  <tbody id="listadoProductos">
  </tbody>
</table>
</div>
  