<div class="d-flex justify-content-center"  style="height: 100vh; padding-top:3rem">
    <form style="width: 25rem;">
        <h1>Registro de Usuario</h1>
        <div class="mb-3">
            <label for="InputUser" class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control" id="InputUser" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="InputPassword" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="InputPassword" disabled>
        </div>
        <div class="mb-3"></div>
            <label for="email" class="form-label">Contraseña</label>
            <input type="email" name="email" placeholder="email" required>
        </div>
        <button type="button" class="btn btn-primary" id="LoginButton" onclick="login()">Ingresar</button>
        <div id="loginError" class="form-text"></div>
    </form>

    <a href="/login">Login</a>
</div>